@import 'variables/colors';
@import 'variables/typography';
@import 'variables/resolutions';

body{
  font-family: "PT Serif";
  font-size: 20px;
  color: $body-color;

  nav {
    @media screen and (min-width: $break-small) {
      ul {
        display: flex;
        flex-wrap:wrap;
      }
      li{
        flex-grow:1;
        text-align:center;
      }
    }
    @media screen and (max-width: $break-small) {
      .navbar-image{
        display: none;
      }
    }
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .navbar-text{
      padding-top: 40px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li a {
      display: block;
      text-decoration: none;
      padding: .5em 1em;
      color: $body-color;
    }
    li a:hover {
      color: $body-color;
    }
  }

  #content{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 5px;
    justify-content: center;

    .item{
      padding: 10px;
      .description{
        font-family: "Montserrat";
        font-size: 14px;
      }
      .item-images{
        position: absolute;
        .notify-badge{
          position: absolute;
          height: $badge-size;
          width: $badge-size;
          bottom: -50px;
          left: 0;
          right: 0;
          background:red;
          text-align: center;
          border-radius: 50%;
          color:white;
          padding:10px 10px;
          font-size:20px;
        }
      }

    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: $break-small) {
      grid-template-columns: repeat(1, 350px);
    }
  }
  footer{
    bottom: 0;
    width: 100%;
    height: 415px;
    color: #FFF;
    background-color: #272525;
    text-aling: center;
  }
}



