@import 'variables/colors';
@import 'variables/typography';
@import 'variables/resolutions';

body{
  font-family: "PT Serif";
  font-size: 20px;
  color: $body-color;
  .horizontal-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    li a {
      text-decoration: none;
      color: $foot-text-menu;
    }
  }

  nav {
    @media screen and (min-width: $break-small) {
      ul {
        display: flex;
        flex-wrap:wrap;
      }
      li{
        flex-grow:1;
        text-align:center;
      }
    }
    @media screen and (max-width: $break-small) {
      .navbar-image{
        display: none;
      }
    }
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .navbar-text{
      padding-top: 40px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li a {
      display: block;
      text-decoration: none;
      padding: .5em 1em;
      color: $body-color;
    }
    li a:hover {
      color: $body-color;
    }
  }
  #detail-content {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 5px;
    justify-content: center;
    background-color: $detail-yellow;

    .detail-title{
      padding-top: 20px;
      font-size: 20px;
    }
    .title{
      color: #fff;
      font-size: 52px;
      font-weight: bold;
    }

    .img-item{
      position: absolute;
      padding-left: 20px;
    }
    .item {
      padding-top: 120px;
      padding-left: 20px;
      p{
        font-size: 16px;
        color: #272525;
        padding-right: 30px;
      }
      .right-text{
        font-family: "Montserrat";
        font-size: 12px;
      }

      .price{
        float: right;
        font-size: 20px;
        .unit{
          font-size: 30px;
        }
      }
    }

    .qty{
      font-size: 14px;
      font-weight: bold;
      padding-left: 30px;
    }

    .cart-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cart-item{
      width: 50%;
    }

    .cart-info{
      padding-top: 20px;
      padding-left: 40px;
    }
    .border-left{
      border-left-style: double;
    }
    .text-wrapper{
      padding-top: 100px;
    }
  }

  #content{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 5px;
    justify-content: center;

    .item{
      padding: 10px;
      .description{
        font-family: "Montserrat";
        font-size: 14px;
      }
      .item-images{
        position: absolute;
        .notify-badge{
          position: absolute;
          height: $badge-size;
          width: $badge-size;
          bottom: -50px;
          left: 0;
          right: 0;
          background:red;
          text-align: center;
          border-radius: 50%;
          color:white;
          padding:10px 10px;
          font-size:20px;
        }
      }

    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: $break-small) {
      grid-template-columns: repeat(1, 350px);
    }
  }
  footer{
    bottom: 0;
    width: 100%;
    color: #FFF;
    margin-top: 40px;
    .foo-wrapper{
      background-color: #272525;
      padding-top: 30px;
    }
    .foo-content-center {
      display: flex;
      align-items: center;
      justify-content: center;
      .foot-title{
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 4px;
      }
    }

    .stars{
      padding-bottom: 15px;
      padding-left: 10px;
    }

    .foo-content {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      .foo-item{
        width: 25%;
      }
    }

    .horizontal-menu-text {
      color: $foot-text-menu ;
      font-family: "Montserrat";
      font-size: 12px;
    }
    .menu-text {
      padding-left: 8px;
    }
  }

  .box-button{
    margin-top: 20px;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    width: 270px;
  }

  .black{
    border: 1.5px solid $body-color;
    width: 40%;
    margin-left: 240px;
    margin-top: 150px;
  }

  .black-float{
    border: 1.5px solid $body-color;
    width: 40%;
  }

  .black-float-full{
    border: 1.5px solid $body-color;
    width: 80%;
  }

  .cart{
    margin-top: 20px;
  }
  .foo-black{
    background-color: #222020;
    height: 100px;
    padding-left: 30px;
  }

  .bottle{
    font-size: 14px;
    font-family: "Montserrat";
    padding-bottom: 8px;
  }
  .minus{
    padding-bottom: 8px;
  }

  .add-cart{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  hr {
    display: block;
    width: 80%;
    height: 2px;
    border: 0;
    border-top: 1px solid $body-color;
    margin: 1em 0;
    padding: 0;
  }

  .header{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 14px;
  }

  .item-center{
    padding-left: 15%;
  }
  .header-section{
    margin-top: 80px;
  }
  .award-1{
    position: relative;
    left: 100px;
    top: 200px;
    z-index: 4;
  }
  .award-2{
    position: relative;
    left: 70px;
    top: 200px;
    z-index: 3;
  }

  .award-index-1{
    position: relative;
    left: 150px;
    top: 300px;
    z-index: 4;
  }
  .award-index-2{
    position: relative;
    left: 120px;
    top: 300px;
    z-index: 3;
  }
}



