@import 'variables/colors';
@import 'variables/typography';
@import 'variables/resolutions';

body{
  font-family: "PT Serif";

  nav {
    @media screen and (min-width: 480px) {
      ul {
        display: flex;
        flex-wrap:wrap;
      }

      li{
        flex-grow:1;
        text-align:center;
      }
    }
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .navbar-text{
      padding-top: 40px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      color: #000;
    }
    li a {
      display: block;
      text-decoration: none;
      padding: .5em 1em;
      color: #333;
    }
    li a:hover {
      color: #333;
      border: #868686 1px solid;
    }
  }
}



