<footer>
    <div class="foo-wrapper">
    <div class="foo-content-center">
        <span class="foot-title">TROFEO ESTATE</span>
    </div>
    <div class="foo-content">
        <div class="foo-item">
            <ul class="horizontal-menu">
                <li><img src="/images/page-1.png" alt=""> <img class="stars" src="/images/stars.png" alt=""></li>

            </ul>
        </div>

        <div class="foo-item">
            <ul class="horizontal-menu">
                <li><a href="#"><img src="/images/fa.png" alt=""></a></li>
                <li><a href="#"><img src="/images/twitter.png" alt=""></a></li>
                <li><a href="#"><img src="/images/instagram.png" alt=""></a></li>
            </ul>
        </div>
        <div class="foo-item">
        </div>
        <div class="foo-item">
            <div class="box-button">{{ "Book & Enquire"|upper }}</div>
        </div>
    </div>
    </div>

    <div class="foo-wrapper">
        <div class="foo-content-center foo-black">
            <ul class="horizontal-menu horizontal-menu-text">
                <li class="menu-text"><a href="">Liquor Act 1982: It is an offence to sell or supply to or to obtain liquor on behalf of a person under age of 18 years.</a></li>
                <li class="menu-text"><a href="">Privacy Policy</a></li>
                <li class="menu-text"><a href="">Site by Evolution7</a></li>
            </ul>
        </div>
    </div>
</footer>