<nav class="menu">
    <ul>
        <li><a href="#">Wine</a></li>
        <li><a href="#">Food</a></li>
        <li><a href="#">Weddings</a></li>
        <li><a href="#">Fotooooooooooo</a></li>
        <li><a href="#">Visit & Stay</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>