<nav class="menu">
    <ul>
        <li class="navbar-text"><a href="#">Wine</a></li>
        <li class="navbar-text"><a href="#">Food</a></li>
        <li class="navbar-text"><a href="#">Weddings</a></li>
        <li><a href="#"><img src="/images/trofeo-estate-logo.png" alt="Trofeo State"></a></li>
        <li class="navbar-text"><a href="#">Visit & Stay</a></li>
        <li class="navbar-text"><a href="#">About</a></li>
        <li class="navbar-text"><a href="#">Contact</a></li>
    </ul>
</nav>